.random-button {
  display: flex;
  float: right;
  margin-right: 50px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: -80px;
}
.quote-text {
  display: block;
  padding-top: 100px;
  font-weight: bold;
  font-size: 25px;
  border-left: 8px solid orange;
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
  padding-left: 20px;
  height: 80px;
  /* width: 1000px; */
  /* border: 2px solid black; */
}
.icon-refresh {
  margin-left: 2px;
}
.author-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 20px;
  padding: 5px;
}
.author-button:hover {
  background-color: black;
  color: white;
}
.span-icon-right {
  display: inline-block;
  color: white;
  margin-left: 10px;
  margin-top: 1px;
}
.span-icon-left {
  display: inline-block;
  color: white;
  margin-left: 10px;
  margin-top: 1px;
}
